[submodule "laygo2_legacy"]
	path = laygo2_legacy
	url = https://github.com/Park-Hyung-Joo/laygo2_legacy.git
[submodule "sky130_ngspice_reram"]
	path = sky130_ngspice_reram
	url = https://github.com/Park-Hyung-Joo/sky130_ngspice_reram.git
[submodule "parselef"]
	path = parselef
	url = https://github.com/Park-Hyung-Joo/parselef.git
[submodule "skywater130"]
	path = skywater130
	url = https://github.com/niftylab/skywater130.git
